html{
    font-size: 12px;
}

main{
    justify-content: space-between;



}
article, #login, aside{
    width: 100%;
}

#contacts{
    margin: 0 0 1rem 0;
}


#contacts nav{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

#contacts nav a{
    padding: 0;
    
}

#caption{
    margin-top: 0;
    font-size: 3rem;
}